@charset "UTF-8";
/* Cubic Bezier Transition */
/*--------------------------------------------------
    [Container]
----------------------------------------------------*/
.page-container-bg-solid {
  background: #f1f3fa !important;
}

.container-lf-space {
  padding-left: 30px;
  padding-right: 30px;
}

/*** Breadcrumbs ***/
.breadcrumbs {
  background: #fff;
  overflow: hidden;
  padding: 30px 15px;
  margin-bottom: 35px;
}

.breadcrumbs .breadcrumbs-title {
  float: left;
  font-size: 20px;
  color: #3e4f5e;
  font-weight: 600;
  margin: 0;
}

.breadcrumbs .breadcrumbs-list {
  float: right;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.breadcrumbs .breadcrumbs-list > li {
  display: inline-block;
  font-size: 14px;
}

.breadcrumbs .breadcrumbs-list > li > a {
  color: #8e9daa;
}

.breadcrumbs .breadcrumbs-list > li > a:hover {
  color: #5b9bd1;
  text-decoration: none;
}

.breadcrumbs .breadcrumbs-list > li + li:before {
  position: relative;
  top: -2px;
  font-size: 6px;
  padding: 0 8px 0 5px;
  color: #8e9daa;
  content: "\f111";
  font-family: FontAwesome;
}

/*--------------------------------------------------
    [Header]
----------------------------------------------------*/
/***
Material Design Page Header
***/
.page-md .page-header {
  border-bottom: none;
  box-shadow: 0px 2px 2px rgba(66, 66, 66, 0.08);
}

/***
Page Header
***/
.page-header {
  width: 100%;
  height: 70px;
  min-height: 70px;
  background-image: none;
  background: #f1f3fa;
  border-bottom: 1px solid #dce0ec !important;
  border: 0px;
  margin: 0;
  padding: 0px;
  box-shadow: none;
  -webkit-filter: none;
  filter: none;
  /* Burger Trigger */
  /* Header logo */
  /* Top menu */
}

.page-header .burger-trigger {
  position: relative;
}

.page-header .burger-trigger .menu-trigger {
  float: left;
  background: #f1f3fa;
  border-right: 1px solid #dce0ec !important;
  border: none;
  outline: 0;
  padding: 25px 20px;
  margin-right: 20px;
}

.page-header .burger-trigger .menu-trigger > img {
  width: 18px;
  height: 13px;
}

.page-header .burger-trigger .menu-close {
  position: absolute;
  top: 5px;
  left: 12px;
  display: inline-block;
  font-size: 40px;
  color: #3a4348;
  background: inherit;
  border: none;
  outline: 0;
}

.page-header .burger-trigger .menu-close:hover {
  color: #000;
}

.page-header .burger-trigger .menu-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.page-header .burger-trigger .menu-bg-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.page-header .burger-trigger .menu-overlay-show {
  visibility: visible;
}

.page-header .burger-trigger .menu-overlay-show ~ .menu-bg-overlay {
  opacity: 1;
  visibility: visible;
}

.page-header .burger-trigger .menu-overlay-bg-transparent .menu-overlay-content {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: transparent;
}

.page-header .burger-trigger .menu-overlay-bg-transparent.menu-overlay-show .menu-overlay-content {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.page-header .burger-trigger .menu-overlay-bg-transparent.menu-overlay-show ~ .menu-bg-overlay {
  background: rgba(255, 255, 255, 0.95);
}

.page-header .burger-trigger .menu-overlay-nav {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-header .burger-trigger .menu-overlay-nav > li {
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 7px 0;
}

.page-header .burger-trigger .menu-overlay-nav > li > a {
  color: #3a4348;
}

.page-header .burger-trigger .menu-overlay-nav > li > a:hover {
  color: #000;
  text-decoration: none;
}

.page-header .page-logo {
  width: auto;
  height: 68px;
  max-height: 68px;
  line-height: 68px;
  float: left;
}

.page-header .page-logo .logo-default {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.page-header .top-menu {
  float: right;
  padding-right: 25px;
  /* Notification */
  /* Inbox */
  /* Toggle */
  /* User */
}

.page-header .top-menu .nav .open > a {
  background: #ebeef6;
}

.page-header .top-menu .nav .open > a:hover, .page-header .top-menu .nav .open > a:focus {
  background: #ebeef6;
}

.page-header .top-menu .navbar-nav {
  padding: 0;
  margin: 0;
}

.page-header .top-menu .navbar-nav > li {
  padding: 0 1px;
  display: inline-block;
}

.page-header .top-menu .dropdown-menu {
  min-width: 160px;
  max-width: 275px;
  width: 275px;
  z-index: 9995;
}

.page-header .top-menu .dropdown-menu > .external {
  display: block;
  overflow: hidden;
  padding: 15px 15px;
  letter-spacing: 0.5px;
  border-radius: 4px 4px 0 0;
}

.page-header .top-menu .dropdown-menu > .external > h3 {
  margin: 0;
  padding: 0;
  float: left;
  font-size: 13px;
  display: inline-block;
}

.page-header .top-menu .dropdown-menu > .external > a {
  display: inline-block;
  padding: 0;
  background: none;
  clear: inherit;
  font-size: 13px;
  font-weight: 300;
  position: absolute;
  right: 10px;
  border: 0;
  margin-top: -1px;
}

.page-header .top-menu .dropdown-menu > .external > a:hover {
  text-decoration: underline;
}

.page-header .top-menu .dropdown-menu-list {
  padding-right: 0 !important;
  padding-left: 0;
  list-style: none;
}

.page-header .top-menu .dropdown-menu-list > li > a {
  display: block;
  clear: both;
  font-weight: 300;
  line-height: 20px;
  white-space: normal;
  font-size: 13px;
  padding: 16px 15px 18px;
  text-shadow: none;
}

.page-header .top-menu .dropdown-menu-list > li > a:hover {
  opacity: 1 ;
  filter: alpha(opacity=100) ;
}

.page-header .top-menu .dropdown-menu-list > li:first-child a {
  border-top: none;
}

.page-header .top-menu .dropdown-notification .dropdown-menu-list > li a .details {
  overflow: hidden;
}

.page-header .top-menu .dropdown-notification .dropdown-menu-list > li a .details .label-icon {
  margin-right: 10px;
  border-radius: 50%;
}

.page-header .top-menu .dropdown-notification .dropdown-menu-list > li a .details .label-icon i {
  margin-right: 2px;
  margin-left: 1px;
}

.page-header .top-menu .dropdown-notification .dropdown-menu-list > li a .details .label-icon .badge {
  right: 15px;
}

.page-header .top-menu .dropdown-notification .dropdown-menu-list > li a .time {
  float: right;
  max-width: 75px;
  font-size: 11px;
  font-weight: 400;
  opacity: 0.7 ;
  filter: alpha(opacity=70) ;
  text-align: right;
  padding: 1px 5px;
}

.page-header .top-menu .dropdown-inbox .dropdown-menu-list > li .photo {
  float: left;
  margin: 0 6px 6px 0;
}

.page-header .top-menu .dropdown-inbox .dropdown-menu-list > li .photo img {
  height: 40px;
  width: 40px;
  border-radius: 50% !important;
}

.page-header .top-menu .dropdown-inbox .dropdown-menu-list > li .subject {
  display: block;
  margin-left: 46px;
}

.page-header .top-menu .dropdown-inbox .dropdown-menu-list > li .subject .from {
  font-size: 13px;
  font-weight: 600;
}

.page-header .top-menu .dropdown-inbox .dropdown-menu-list > li .subject .time {
  font-size: 12px;
  font-weight: 400;
  opacity: 0.5 ;
  filter: alpha(opacity=50) ;
  float: right;
}

.page-header .top-menu .dropdown-inbox .dropdown-menu-list > li .message {
  display: block !important;
  color: #525f67 !important;
  font-size: 12px;
  line-height: 1.3;
  margin-left: 46px;
}

.page-header .top-menu .dropdown-toggle {
  position: relative;
  line-height: 69px;
  padding: 0 10px;
}

.page-header .top-menu .dropdown-toggle > i {
  top: 3px;
  font-size: 16px;
  color: #acc1da;
}

.page-header .top-menu .dropdown-toggle .badge {
  width: 22px;
  height: 22px;
  line-height: 1.4;
  font-weight: 600;
}

.page-header .top-menu .dropdown-toggle:hover > i {
  color: #c0cddc;
}

.page-header .top-menu .dropdown-user .dropdown-toggle {
  padding: 12px 10px;
  line-height: 0;
}

.page-header .top-menu .dropdown-user .dropdown-toggle .dropdown-user-inner {
  background: #fff;
  padding-left: 8px;
}

.page-header .top-menu .dropdown-user .dropdown-toggle .dropdown-user-inner > .username {
  display: inline-block;
  margin-right: 5px;
  font-size: 13px;
  font-weight: 600;
  vertical-align: middle;
}

.page-header .top-menu .dropdown-user .dropdown-toggle .dropdown-user-inner > img {
  width: 45px;
  height: 45px;
  display: inline-block;
}

.page-header .top-menu .dropdown-user .dropdown-toggle .dropdown-user-inner > i {
  display: inline-block;
  margin-top: 5px;
  margin: 0;
  font-size: 13px;
}

.page-header .top-menu .dropdown-user .dropdown-menu {
  width: 175px;
}

.page-header .top-menu .dropdown-user .dropdown-menu > li > a {
  color: #525f67 !important;
  font-size: 14px;
  font-weight: 300;
}

.page-header .top-menu .dropdown-user .dropdown-menu > li > a i {
  width: 15px;
  display: inline-block;
  margin-right: 9px;
}

.page-header .top-menu .dropdown-user .dropdown-menu > li > a .badge {
  margin-right: 10px;
}

/* Stylesheet design for max-width 480px */
@media (max-width: 480px) {
  /* 480px */
  .page-header .nav.pull-right > li.dropdown-extended .dropdown-menu:before, .page-header .nav.pull-right > li.dropdown-extended .dropdown-menu:after {
    right: 75px;
  }
  .page-header .nav.pull-right > li.dropdown-extended .dropdown-menu.pull-right:before:before, .page-header .nav.pull-right > li.dropdown-extended .dropdown-menu.pull-right:after:before {
    right: 75px;
  }
  .page-header .top-menu {
    padding-right: 10px;
    /* User */
  }
  .page-header .top-menu .dropdown-toggle {
    padding: 0 2px;
  }
  .page-header .top-menu .dropdown-toggle > i {
    font-size: 14px;
  }
  .page-header .top-menu .dropdown-toggle .badge {
    width: 20px;
    height: 20px;
    padding: 2px 6px;
  }
  .page-header .top-menu .dropdown-user .dropdown-toggle {
    padding: 19px 10px 15px;
  }
  .page-header .top-menu .dropdown-user .dropdown-toggle .dropdown-user-inner > img {
    width: 35px;
    height: 35px;
  }
  .page-header .dropdown-notification .dropdown-menu,
  .page-header .dropdown-inbox .dropdown-menu {
    left: auto;
    right: -60px !important;
  }
  .page-header .page-logo .logo-default {
    width: 80px;
  }
}

/* Stylesheet design for max-width 767px */
@media (max-width: 767px) {
  /* 767px */
  /* Page header */
  .page-header .top-menu .dropdown-user .dropdown-toggle .dropdown-user-inner {
    padding-left: 0;
  }
  .page-header .top-menu .dropdown-user .dropdown-toggle .dropdown-user-inner .username.username-hide-on-mobile {
    display: none;
  }
}

.page-content {
  padding-top: 90px;
}

.page-content-inner {
  padding-top: 70px;
}

/***
Page footer
***/
.page-footer .page-footer-copyright {
  font-size: 14px;
  margin-bottom: 0;
}

.page-footer .page-footer-inner {
  padding-top: 15px;
  padding-bottom: 15px;
}

.page-footer .page-footer-inner > p {
  margin: 0;
}

/* Scroll Top Top */
.go2top {
  display: inline-block;
  padding: 1px;
  text-align: center;
  position: fixed;
  bottom: 3px;
  z-index: 1000;
  display: none;
  right: 10px;
}

.go2top > i {
  display: inline-block;
  color: #687991;
  font-size: 30px;
  opacity: 0.6 ;
  filter: alpha(opacity=60) ;
}

.go2top:hover {
  cursor: pointer;
}

.go2top:hover > i {
  opacity: 1 ;
  filter: alpha(opacity=100) ;
}

/******************
Page Quick Sidebar
******************/
/* Page Portlet Fullscreen */
.page-portlet-fullscreen .page-quick-sidebar-wrapper,
.page-portlet-fullscreen .page-quick-sidebar-toggler {
  z-index: -1;
}

/* Quick Sidebar Notification */
.quick-sidebar-notification {
  position: relative;
}

.quick-sidebar-notification .badge {
  position: absolute;
  top: -23px;
  left: 12px;
  width: 22px;
  height: 22px;
  font-size: 15px !important;
  font-weight: 300;
  line-height: 1;
  border: 1px solid #f2989f;
  color: #fdf3f4;
  background: #ed6b75;
}

/* Quick sidebar toggler */
.quick-sidebar-toggler {
  top: 50%;
  right: 0;
  padding: 0;
  z-index: 99;
  border: none;
  outline: none;
  position: fixed;
  margin-top: -30px;
  background: #fff;
  width: 45px;
  height: 45px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
}

.quick-sidebar-toggler i {
  padding: 5px;
  font-size: 15px;
  color: #fff;
}

.quick-sidebar-toggler i:before {
  content: ""/*rtl:""*/;
}

.page-quick-sidebar-open .quick-sidebar-toggler i:before {
  content: ""/*rtl:""*/;
}

/* Page Portlet Fullscreen */
.page-portlet-fullscreen .page-quick-sidebar-wrapper,
.page-portlet-fullscreen .page-quick-sidebar-toggler {
  z-index: -1;
}

/* Quick sidebar toggler */
.page-quick-sidebar-toggler {
  overflow: hidden;
  z-index: 99999;
  display: none;
  width: 28px;
  height: 27px;
  position: fixed;
  top: 10px;
  right: 15px;
  text-align: center;
  padding-top: 6px;
}

.page-quick-sidebar-toggler:hover {
  background: #303a43;
}

.page-quick-sidebar-open .page-quick-sidebar-toggler {
  display: inline-block;
}

.page-quick-sidebar-open .page-quick-sidebar-toggler:hover {
  background: none;
}

.page-quick-sidebar-toggler > i {
  color: #99a8b5;
  font-size: 17px;
}

.page-quick-sidebar-toggler > i:hover {
  color: #fff !important;
}

.page-quick-sidebar-open .page-quick-sidebar-toggler > i:before {
  content: ""/*rtl:""*/;
}

/* Quick sidebar wrapper */
.page-quick-sidebar-wrapper {
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
  z-index: 9994;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 320px;
  right: -320px;
  overflow: hidden;
  color: #99a8b5;
  background: #21282e;
}

.page-quick-sidebar-open .page-quick-sidebar-wrapper {
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
  right: 0;
}

.page-quick-sidebar-wrapper .page-quick-sidebar {
  background: #21282e;
  /* Quick sidebar tabs content */
  /* Quick sidebar general list heading */
  /* Quick sidebar general list-items */
  /* Inner content */
  /* Quick sidebar list */
  /* Quick sidebar list item */
  /* Quick sidebar list item shown */
  /* Quick sidebar chat */
  /* Quick sidebar alerts */
  /* Quick sidebar settings */
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs {
  margin: 0;
  padding: 0;
  border: 0;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li {
  display: table-cell !important;
  width: 1%  !important;
  padding: 0;
  margin: 0;
  float: none;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li > a {
  position: relative;
  display: block;
  text-align: center;
  border: 0;
  height: auto;
  font-size: 14px;
  padding: 45px 15px 8px;
  text-transform: uppercase;
  background: none;
  margin-right: 0;
  color: #90a1af;
  border: 0;
  border-bottom: 3px solid rgba(243, 86, 93, 0.3);
  border-radius: 0;
  outline: none !important;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li > a > .badge {
  position: absolute;
  top: 45px;
  right: 3px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li.active > a, .page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li:hover > a {
  border: 0;
  border-bottom: 3px solid #f3565d;
  background: none;
  color: #fff;
  text-decoration: none;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li .dropdown-menu {
  border: 0;
  background: #36424c;
  box-shadow: 5px 5px rgba(97, 117, 135, 0.1);
  margin-top: 8px;
  margin-right: 20px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li .dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 19px;
  display: inline-block !important;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #36424c;
  content: '';
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li .dropdown-menu:after {
  position: absolute;
  top: -6px;
  right: 20px;
  display: inline-block !important;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-bottom: 7px solid #36424c;
  content: '';
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li .dropdown-menu > li > a {
  padding: 10px 15px;
  color: #99a8b5;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li .dropdown-menu > li > a > i {
  color: #93a3b1;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li .dropdown-menu > li:hover > a {
  background: #3d4a55;
  color: #99a8b5;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li .dropdown-menu > li:hover > a > i {
  color: #9babb8;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li .dropdown-menu > li.active > a {
  background: #38444f;
  color: #99a8b5;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li .dropdown-menu > li.divider {
  background-color: #3d4a55;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li.open > a.dropdown-toggle {
  border-bottom: 3px solid #f3565d;
  background: none;
  text-decoration: none;
  color: #90a1af;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .tab-content {
  margin: 0;
  padding: 0;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .list-heading {
  font-size: 16px;
  margin: 10px 10px;
  color: #6c8296;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .list-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .list-items > li {
  margin: 0;
  padding: 15px;
  background: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #273037;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .list-items > li:hover {
  background: #273037;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .list-items > li:last-child {
  border-bottom: 0;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .list-items.borderless li {
  border: 0;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .inner-content {
  margin: 10px 10px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-list {
  position: absolute !important;
  width: 320px !important;
  -webkit-transition: margin 0.3s;
  transition: margin 0.3s;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item {
  width: 320px;
  position: absolute !important;
  width: 320px !important;
  -webkit-transition: margin 0.3s;
  transition: margin 0.3s;
  margin-left: 320px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item .page-quick-sidebar-nav {
  padding: 15px 10px 0px 10px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item .page-quick-sidebar-nav .page-quick-sidebar-back-to-list {
  vertical-align: middle;
  display: inline-block;
  font-size: 14px;
  color: #90a1af;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item .page-quick-sidebar-nav .page-quick-sidebar-back-to-list:hover {
  text-decoration: none;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item .page-quick-sidebar-nav .page-quick-sidebar-back-to-list > i {
  font-size: 17px;
  line-height: 17px;
  vertical-align: top;
  margin-right: 3px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-list {
  -webkit-transition: margin 0.3s;
  transition: margin 0.3s;
  margin-left: -320px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-list .slimScrollBar,
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-list .slimScrollRail {
  display: none !important;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-item {
  -webkit-transition: margin 0.3s;
  transition: margin 0.3s;
  margin-left: 0;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-users {
  padding: 10px 0;
  position: relative;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-users .media-list .media {
  padding: 15px 15px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-users .media-list .media .media-object {
  border-radius: 50% !important;
  width: 45.7142857143px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  float: left;
  margin-right: 10px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-users .media-list .media .media-object:before, .page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-users .media-list .media .media-object:after {
  content: " ";
  display: table;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-users .media-list .media .media-object:after {
  clear: both;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-users .media-list .media:hover {
  cursor: pointer;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-users .media-list .media:hover .media-object {
  opacity: 1;
  filter: alpha(opacity=100);
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-users .media-list .media .media-body .media-heading {
  margin: 5px 0 0 0;
  font-size: 14px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-users .media-list .media .media-body .media-heading-sub {
  font-size: 11px;
  text-transform: uppercase;
  color: #657b8d;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-users .media-list .media .media-body .media-heading-small {
  font-size: 10px;
  color: #5d7081;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-users .media-list .media .media-status {
  margin-top: 10px;
  right: 10px;
  position: absolute;
  display: inline-block;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages {
  padding: 0px 10px;
  position: relative;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post {
  -webkit-transition: display 0.3s;
  transition: display 0.3s;
  padding: 5px 0;
  margin: 10px auto;
  font-size: 13px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post .body {
  color: #c3c3c3;
  display: block;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post .avatar {
  width: 45.7142857143px;
  border-radius: 50% !important;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post.in .avatar {
  float: left;
  margin-right: 10px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post.out .avatar {
  float: right;
  margin-left: 10px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post .name {
  font-size: 12px;
  font-weight: 300;
  color: #8496a7;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post .datetime {
  font-size: 12px;
  font-weight: 300;
  color: #8496a7;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post .message {
  display: block;
  padding: 5px;
  position: relative;
  color: #90a1af;
  background: #36424c;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post.in .message {
  text-align: left;
  margin-left: 55px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post.in .message .arrow {
  display: block;
  position: absolute;
  top: 9px;
  left: -6px;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right-width: 6px;
  border-right-style: solid;
  border-right-color: #36424c;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post.out .message {
  margin-right: 55px;
  text-align: right;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post.out .message .arrow {
  display: block;
  position: absolute;
  top: 9px;
  right: -6px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left-width: 6px;
  border-left-style: solid;
  border-left-color: #36424c;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post.out .name,
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post.out .datetime {
  text-align: right;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-form {
  padding: 20px 10px 15px 10px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-alerts .page-quick-sidebar-alerts-list {
  padding: 10px 0;
  position: relative;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-alerts .page-quick-sidebar-alerts-list .feeds li a {
  color: #7e91a2;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-alerts .page-quick-sidebar-alerts-list .feeds li a .label {
  margin-top: 5px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-alerts .page-quick-sidebar-alerts-list .feeds li a .desc {
  text-decoration: underline;
  padding: 0;
  color: #788c9e;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-alerts .page-quick-sidebar-alerts-list .feeds li a .date {
  color: #5d7081;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-settings .page-quick-sidebar-settings-list {
  padding: 10px 0;
  position: relative;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-settings .page-quick-sidebar-settings-list .list-items li .bootstrap-switch {
  margin-top: -3px;
  float: right;
  border: 0;
  min-width: 59px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-settings .page-quick-sidebar-settings-list .list-items li .form-control {
  width: 75px !important;
  padding: 4px 4px !important;
  float: right;
  border: 0;
  margin-top: -4px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-settings .page-quick-sidebar-settings-list .list-items li select.form-control {
  padding: 4px 0px !important;
}

/*# sourceMappingURL=layout-error.css.map */
