.ecommerce h1, .ecommerce h2, .ecommerce h3, .ecommerce h4, .ecommerce h5, .ecommerce h6 {
    font-weight: 700;
}

.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
    background-color: #222222;
    border-color: #222222;
}

h4.panel-title {
    font-weight: 500;
}

.pre-footer {
    background: #222;
    color: #eaeaea;
}

.top-cart-content em {
    overflow: visible;
}

.footer {
    background: #0d0d0d;
    color: #eaeaea;
}

.footer .padding-top-10 {
    opacity: 1;
}

.pre-footer h2, .ecommerce .pre-footer h2 {
    color: #eaeaea;
}

.brand-banner {
    margin-bottom: 30px;
}

.brand-banner .image {
    position: relative;
    overflow: hidden;
}

.brand-banner .image img {
    width: 100%;
}

.brand-banner .image > * {
}

.brand-banner .description {
    background-color: #D5D3DC;
    padding: 26px 30px 26px 270px;
    min-height: 130px;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.brand-banner .description .name {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 10px;
    letter-spacing: 1px;
    color: #333333;
}

.brand-banner .description p {
    margin: 0;
    font-size: 13px;
    color: #333;
    word-wrap: break-word;
}

.brand-banner .logo {
    position: absolute;
    bottom: 26px;
    left: 45px;
    z-index: 2;
}

.brand-banner .logo img {
    width: 206px;
    border-radius: 10px !important;
}

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table;
}

img {
    vertical-align: middle;
    border: 0;
}

.site-logo img {
    width: 280px;
}

.reduce-header img.main-brand {
    width: 200px;
}

.brand-logo {
    border-radius: 5px !important;
    margin-bottom: 15px;
}

.btn-circle {
    border-radius: 25px !important
}

.btn-white {
    background-color: #F9F9F9 !important;
    border-color: #ccc;
}

.newsletter {
    background-color: #DCDCDC;
}

.form-newsletter {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sosmed, .secured {
    padding-top: 20px;
}

.secured img {
    height: 45px;
    width: auto;
    margin: 5px 0;
}

.btn-black {
    background-color: #313030 !important;
    color: #DCDCDC !important;
}

.no-padding-right {
    padding-right: 0;
}

.padding-2p {
    padding-right: 2px;
}

.border-black {
    border-color: #313030 !important;
}

.no-padding-left {
    padding-left: 0;
}

.page-title {
    padding: 50px 0;
    background-color: #F5F5F5;
    border-bottom: 1px solid #EEE;
}

.product {
    float: left;
    margin: 0 20px 20px 0;
    width: 270px;
}

.product, .product-image {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.product-image img, .product-image > a {
    display: block;
    width: 100%;
    height: auto;
}

.product-image > a:nth-of-type(2) {
    opacity: 0;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.sale-flash-holder {
    position: absolute;
    top: 10px;
    left: 38px;
    padding: 6px 10px;
    background-color: #313030;
    border-radius: 2px;
    z-index: 5;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    color: #F9F9F9;
}

.sale-flash {
    position: absolute;
    top: 179px;
    left: 4px;
    padding: 6px 10px;
    background-color: #313030;
    border-radius: 2px;
    z-index: 5;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    color: #F9F9F9;
}

.product-image:hover > a:nth-of-type(2) {
    opacity: 1;
    z-index: 2;
}

.product-desc {
    padding: 15px 0;
    font-size: 14px;
}

.product-desc .product-title {
    word-wrap: break-word;
}

.product-desc .product-brand {
    margin-bottom: 3px;
}

.product-brand h3 {
    font: 500 11px 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.product-title h3 {
    font: 500 12px 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 24px;
}

.product-title h3 a, .single-product .product-title h2 a {
    color: #333;
}

.product-price {
    font-weight: 500;
    color: #444;
    margin-bottom: 4px;
    font: 15px 'Roboto', sans-serif;
}

.product-price del {
    font-weight: 400;
    font-size: 9px;
    color: #888;
}

.product-price ins {
    text-decoration: none;
    color: #336E7B;
    font-size: 12px;
}

.single-product .product {
    width: 100%;
    margin: 0;
}

.single-product .product-image {
    height: auto;
}

.single-product .product-desc {
    padding: 0;
}

.single-product .product-price {
    float: left;
    font-size: 24px;
    margin-bottom: 0;
}

.single-product .product-desc .product-title h3 {
    font-size: 30px;
    color: #3f444a;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
}

.clear {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 100%;
    overflow: hidden
}

.single-product .line {
    margin: 10px 0;
}

.line {
    clear: both;
    width: 100%;
    margin: 20px 0;
    border-top: 1px solid #EEE;
}

#gallery {
    margin-bottom: 30px;
}

#gallery .slider-nav {
    float: left;
    overflow: hidden;
    padding: 0 10px 0 15px;
    position: relative;
    width: 19.592%;
    height: auto;
}

#gallery .slider-nav .nav-btn.prev {
    top: 0;
    display: none;
}

#gallery .slider-nav .nav-btn.next {
    bottom: 0;
    display: none;
}

#gallery .slider-nav img {
    width: 100%;
    opacity: .80;
    transition: opacity .3s;
    -webkit-transition: opacity .3s;
}

#gallery .holder {
    text-align: center;
    line-height: 0;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: auto;
    padding: 0 15px 0 10px;
    margin: 0 0 60px;
    cursor: pointer;
}

#product-summary {
    margin-bottom: 30px;
}

#product-summary .brand {
    font-size: 25px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    margin: 0 0 11px 0;
    line-height: 1em;
}

#product-summary .name {
    margin: 0;
    font-size: 25px;
    font-weight: 500;
    color: #333;
    line-height: 1.1;
    letter-spacing: 1px;
    word-wrap: break-word;
}

.tab-content {
    background: none;
    padding: 0;
}

#product-summary .info {
    margin: 10px 0 19px;
    color: #777777;
}

#product-summary .info .price {
    font-size: 24px;
    color: #333;
}

#product-summary .product-form {
    margin: 13px 0 26px;
}

#product-summary .product-form label {
    font-weight: normal;
    color: #333;
    font-size: 13px;
    margin-bottom: 14px;
    display: block;
}

#product-summary .product-form .color {
    margin-bottom: 25px;
}

#product-summary .product-form label {
    font-weight: normal;
    color: #333;
    font-size: 13px;
    margin-bottom: 14px;
    display: block;
}

.holder-image {
    position: relative;
    overflow: hidden;
}

.holder-image .sale-flash {
    position: absolute;
    top: 10px;
    left: 33px;
    padding: 6px 10px;
    background-color: #313030;
    border-radius: 2px;
    z-index: 5;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    color: #F9F9F9;
}

#product-summary .info .price .sale-price {
    font-size: 20px;
    color: #9d261d;
    font-weight: bold;
}

#product-summary .info .price.on-sale .regular-price {
    font-weight: normal;
    font-size: 16px;
    color: #777777;
    text-decoration: line-through;
}

#product-summary .tab-panel {
    margin-top: 20px;
}

.social-icons {
    margin-top: 30px;
}

#product-summary .tab-panel .nav-tab {
    margin-bottom: 13px;
    border-bottom: solid 1px #EEE;
}

#product-summary .tab-panel .nav-tab li.active {
    border-color: #E84D1C;
}

.guest-btn {
    border-radius: 5px !important;
    margin-left: 0;
}

.nav-tab > li {
    float: left;
    margin-right: 5px;
    border: 1px solid #eee;
}

#product-summary .tab-panel .nav-tab li a {
    line-height: 1em;
    padding: 10px 12px;
    font-weight: 600;
    color: #333;
    font-size: 13px;
    cursor: pointer;
    background-color: transparent;
}

#product-summary #description {
    font: 400 13px 'Roboto', sans-serif;
    line-height: 1.3;
    word-wrap: break-word;
}

[v-cloak] {
    display: none;
}

#clockdiv > div {
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
    width: 100%;
}

#clockdiv div > span {
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.ecommerce .header-navigation > ul > li > a {
    padding: 0px 10px 25px;
}

.ecommerce .site-logo {
    padding-bottom: 15px;
}

.ecommerce .reduce-header .header-navigation > ul > li > a {
    padding: 0px 10px 25px;
}

.header .top-cart-block {
    margin-top: -20px;
}

.reduce-header .top-cart-block {
    margin-top: -7px;
}

.page-header-fixed .header-navigation {
    height: 100%;
}

.brand-banner .mobile-bg {
    width: 92%;
    display: none;
    position: absolute;
    background: #DCDCDC;
    z-index: 0;
}

.mobile-only {
    display: none;
}

.panel-info-payment .panel-heading {
    padding: 5px;
    background: #222;
    border-radius: 5px !important;
}

.panel-info-payment .panel-title {
    color: #fff;
}

.panel-info-payment label {
    display: block;
}

/*
    iphone 4  hacks
*/
@media screen and (max-width: 320px) {
    .sale-flash {
        top: 89px !important;
        font-size: 9px;
        left: 0;
    }

    .sale-flash-holder {
        top: 5px;
        left: 22px;
    }
}

/**
    iphone 4 up to iphone 6s plus
*/
@media screen and (max-width: 414px) {
    .site-logo img {
        width: 137px;
    }

    .mobile-only {
        display: block;
    }

    .guest-btn {
        margin-left: 0;
    }

    .ecommerce .site-logo {
        padding-bottom: 0;
    }

    .header .mobi-toggler {
        margin: 0;
    }

    .header .top-cart-block {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .top-cart-info-count {
        float: none;
    }

    .btn-newletter, .input-newsletter {
        padding-right: 15px;
        padding-left: 15px;
    }

    .btn-newletter button {
        width: 100%;
    }

    .goods-data {
        padding: 0;
    }

    .form-coupon {
        width: 100%;
    }

    .coupon-section {
        float: none !important;
    }

    .form-coupon .form-group {
        margin-bottom: 0;
    }

    .goods-page .btn-primary {
        margin-right: 0;
    }

    .form-coupon button {
        width: 100%;
    }

    .pre-header .list-inline li {
        float: left;
        margin-right: 10px;
    }

    .reduce-header img.main-brand {
        width: 150px;
    }

    .sale-product .col-xs-4 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .brand-section .col-xs-4 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .brand-banner .image {
        display: none;
    }

    .brand-banner .description {
        margin-top: 123px;
        padding: 2px 0px;
        position: relative;
        background-color: #F9F9F9;
        width: 100%;
        display: inline-block;
    }

    .brand-banner .description .name {
        text-align: center;
    }

    .brand-banner .description p {
        font-size: 10px;
        text-align: justify;
    }

    .brand-banner .mobile-bg {
        display: block;
        height: 130px;
        top: 103px;
    }

    .sale-flash {
        top: 109px;
    }

    .sale-flash-holder {
        top: 6px;
        left: 23px;
    }

    .brand-banner .logo {
        display: block;
        width: 30%;
        position: absolute;
        top: 0;
        left: 35%;
        z-index: 2;
    }

    .brand-banner .logo img {
        width: 100%;
        display: inline-block;
    }

    .product-brand h3 {
        font-size: 8px;
    }

    .product-title h3 {
        font-size: 9px;
    }

    .product-price {
        font-size: 8px;
    }

    .product-price del {
        display: block;
    }

    .panel-product .panel-body {
        padding: 5px 15px;
    }

    .product {
        margin: 0 20px 5px 0;
    }

    .product-desc {
        padding: 3px 0 0;
    }

    #gallery {
        margin-bottom: 0;
    }

    #gallery .holder {
        margin: 0 0 15px;
        padding: 0;
    }

    #product-summary .brand {
        font-size: 10px;
        margin: 0 0 3px 0;
    }

    #product-summary .name {
        font-size: 11px;
    }

    #product-summary .info {
        margin: 0 0 4px;
    }

    #product-summary .info .price {
        font-size: 11px;
    }

    #product-summary h2.category {
        font-size: 11px;
        margin: 0 !important;
    }

    #product-summary .product-form {
        margin: 0;
    }

    #product-summary .product-form label {
        margin-bottom: 5px;
    }

    #product-summary .product-form .color {
        margin-bottom: 5px;
    }

}

@media screen and (min-width: 415px) and (max-width: 800px) {
    .btn-newletter, .input-newsletter {
        padding-right: 15px;
        padding-left: 15px;
    }

    .btn-newletter button {
        width: 100%;
    }

    .header .top-cart-block {
        margin-bottom: 10px;
    }

    .goods-data {
        padding: 0;
    }

    .form-coupon {
        width: 100%;
    }

    .form-coupon .form-group {
        margin-bottom: 0;
    }

    .goods-page .btn-primary {
        margin-right: 0;
    }

    .form-coupon button {
        width: 100%;
    }

    .sale-product .col-xs-4 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .brand-section .col-xs-4 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .brand-banner .image {
        display: none;
    }

    .brand-banner .description {
        margin-top: 235px;
        padding: 2px 25px;
        position: relative;
        background-color: #F9F9F9;
        width: 100%;
        display: inline-block;
    }

    .brand-banner .name {
        text-align: center;
    }

    .brand-banner p {
        text-align: justify;
    }

    .brand-banner .logo {
        display: block;
        width: 30%;
        position: absolute;
        top: 0;
        left: 35%;
        z-index: 2;
    }

    .brand-banner .logo img {
        width: 100%;
        display: inline-block;
    }

    #gallery {
        margin-bottom: 0;
    }

    #gallery .holder {
        margin: 0 0 15px;
        padding: 0;
    }

    #product-summary .brand {
        font-size: 10px;
        margin: 0 0 3px 0;
    }

    #product-summary .name {
        font-size: 11px;
    }

    #product-summary .info {
        margin: 0 0 4px;
    }

    #product-summary .info .price {
        font-size: 11px;
    }

    #product-summary h2.category {
        font-size: 11px;
        margin: 0 !important;
    }

    #product-summary .product-form {
        margin: 0;
    }

    #product-summary .product-form label {
        margin-bottom: 5px;
    }

    #product-summary .product-form .color {
        margin-bottom: 5px;
    }
}

.panel-product {
    border: none;
    box-shadow: none;
    background-color: transparent !important;
}

.panel-product > .panel-heading {
    background-color: #D5D3DC !important;
    border-bottom-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
}

.panel-product .panel-heading a {
    color: #fff;
}

.panel-product .panel-heading a:hover {
    color: #000;
    text-decoration: none;
}

.panel-product .panel-body {
    background: #F9F9F9;
}

.panel-product .panel-heading + .panel-collapse > .panel-body, .panel-product .panel-heading + .panel-collapse > .list-group {
    border-top: none !important;
}

.title-section {
    font-weight: 600 !important;
    font-size: 16px;
}

.title-section span {
    display: inline-block;
    position: relative;
}

.title-section span:before,
.title-section span:after {
    content: "";
    position: absolute;
    height: 22px;
    border-bottom: 1px solid #D5D3DC;
    top: -14px;
    width: 100%;
}

.title-section span:before {
    right: 100%;
    margin-right: 15px;
}

.btn-primary {
    border-radius: 5px !important;
}

.alert {
    border-radius: 5px !important;
}

.title-section span:after {
    left: 100%;
    margin-left: 15px;
}

.site-logo {
    margin-right: 0;
}

.checkout-page h2 {
    background: none;
}

.bg-blue {
    background-color: #3598dc !important;
}

.color-white {
    color: #fff;
}

.well-login {
    padding: 0;
    border-radius: 5px !important;
}

.well-login .well-heading {
    border-bottom: 1px solid #fff;
}

.well-heading .well-title {
    padding: 18px 15px 10px 15px;
    color: #fff;
}

.well-login form {
    padding: 24px;
}

.well-login a {
    color: #222;
}

.well-login a:hover {
    color: #000;
}

.bg-black {
    background-color: #222;
}

.bg-grey {
    background-color: #DCDCDC;
}

@media screen and (max-width: 1200px) {
    .morebrand {
        display: none;
    }
}

.toast-success {
    background-color: #222;
}

.birthday-picker select {
    padding: 5px;
    background: #fff;
    border-color: #DCDCDC;
    color: #222;
    border-radius: 5px !important;
}

.main .container {
    margin-top: 30px;
}

.pre-footer-col .subtitle {
    color: #DCDCDC;
}

.pre-footer a {
    color: #DCDCDC;
}

.list-bank-logo li {
    width: 25%;
}

.profile-overview {
    font-size: 16px;
    border-radius: 5px !important;
    border: 1px solid #D5D3DC;
}

.profile-overview .nama {
    font-weight: 700;
}

div.content-form-page {
    padding: 30px 40px;
}

div.content-form-page .profile-overview {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 0;
}

div.content-form-page .form-button {
    float: right;
    margin-right: 144px;
}

.goods-data a, .checkout-page .checkout-description a {
    color: #222;
}

.goods-page-price strong, .goods-page-total strong, .checkout-price strong, .checkout-total strong {
    color: #222;
}

.shopping-total strong, .checkout-total-block strong {
    color: #222;
}

.grand-total {
    background: #fff;
    padding: 10px;
    border-radius: 5px !important;
    border: 1px solid #D5D3DC;
}

.grand-total .checkout-total-block {
    float: none;
    width: 100%;
}

.grand-total em {
    font-weight: 700;
}

.grand-total small {
    margin-left: 3px;
    font-size: 9px;
    color: #9C98A7;
    font-weight: 300;
}

.content-form-page input.form-control, .content-form-page select.form-control, .content-form-page textarea.form-control {
    color: #222;
    border-color: #D5D3DC;
    border-radius: 5px !important;
}

input.form-control {
    color: #222;
    border-color: #D5D3DC;
    border-radius: 5px !important;
}

select.form-control {
    color: #222;
    border-color: #D5D3DC;
    border-radius: 5px !important;
}

textarea.form-control {
    color: #222;
    border-color: #D5D3DC;
    border-radius: 5px !important;
}

.checkout-page select.form-control {
    color: #222;
    border-color: #D5D3DC;
    border-radius: 5px !important;
}

.payments li {
    padding: 10px 5px;
}

.home-banner {
    margin-top: -30px;
}

.payment-info {
    display: block;
    width: 100%;
    padding: 5px;
}

.payment-info .heading {
    background: #222;
    border-radius: 5px !important;
}

.payment-info .heading .title {
    color: #fff;
    padding: 10px;
}

.payment-info .body {
    background: #fff;
    color: #222;
    padding: 10px;
    border-radius: 5px !important;
    border: 1px solid #D5D3DC;
}

.payment-info img {
    border-radius: 12px !important;
}

.checkout-page .btn-circle {
    border-radius: 5px !important;
}

.checkout-section {
    border: 1px solid #D5D3DC;
    border-radius: 5px !important;
    padding: 10px;
    margin-bottom: 10px;
}

.checkout-page a {
    font-weight: 500;
    color: #222;
}

.checkout-page a:hover {
    color: #222;
}

#brand-products .product-price del {
    font-size: 75%;
}

#brand-products .product-price ins {
    font-size: 13px;
}

.input-newsletter .form-control {
    border-radius: 0 !important;
}

@media screen and (min-width: 700px) and (max-width: 801px) {
    .guest-btn {
        margin-left: 0;
    }

    .form-inline .form-group {
        display: inline-block;
        width: 100%;
    }

    .form-inline .form-control {
        width: 100%;
    }

    .sale-flash {
        top: 283px;
    }

    .col-xs-4 .sale-flash {
        top: 270px;
    }
}

.sidebar-menu a {
    font-weight: 700;
}

.goods-page .btn-default {
    float: left;
    border: 1px solid #222222;
    background: #222222;
    color: #fff;
    border-radius: 5px !important;
}

.goods-data table td {
    padding: 5px;
}

.social-share span {
    font-size: 14px;
    font-weight: 600;
    color: #222;
    text-transform: uppercase;
}

.social-share i {
    color: #222;
    font-size: 14px;
    padding: 0 5px;
}

.brand-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-container .brand-logo {
    max-height: 150px;
    margin: 5px;
}

pre {
    border-radius: 5px !important;
    color: #222;
    background-color: #fff;
    white-space: pre-wrap;
    word-break: normal;
    word-wrap: normal;
}