.pre-header {
    font-size: 1.5em;
    background: rgba(21, 21, 21, 1);
}

.pre-header a {
    color: #fff;
}

.currency {
    font-weight: 600;
}

.separate {
    border-right: 1px solid #fff;
}

.mobile-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(21, 21, 21, 1);
    border-bottom: solid 1px #EEE;
    z-index: 50;
    font-size: 1.5em;
    display: block;
}

.cart-section .dropdown-menu, .cart-section .dropdown-menu {
    width: 300px;
    border-color: #EEE;
    padding: 0;
}

.cart-section .cart-content {
    position: absolute;
    display: none;
    top: 46px;
    right: 0;
}

.cart-section:hover .cart-content, .cart-content:focus .cart-content {
    display: block;
}

.currency-section.active a {
    color: #e02222 !important;
}

.cart-section .dropdown-menu .checkout-now, .cart-section .checkout-now {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding: 14px;
    background-color: #FFF !important;
    color: #333;
    border-bottom: solid 1px #EEE;
}

.cart-section .dropdown-menu .media:last-child, .cart-section .dropdown-menu .media:last-child {
    border: none;
}

.cart-section .dropdown-menu .media, .cart-section .dropdown-menu .media {
    padding: 15px;
    margin: 0;
    border-bottom: solid 1px #EEE;
}

.cart-section .dropdown-menu a, .cart-section .dropdown-menu a {
    padding: 14px 15px;
    line-height: 1em;
}

.cart-section .dropdown-menu .media .media-object, .cart-section .dropdown-menu .media .media-object {
    width: auto;
    height: 110px;
    padding-right: 10px;
}

.cart-section .dropdown-menu .media .media-body, .cart-section .dropdown-menu .media .media-body {
    font-size: 11px;
    white-space: normal;
    line-height: 14px;
    color: #444;
    width: auto;
}

.cart-section .dropdown-menu .media .media-body .media-heading, .cart-section .dropdown-menu .media .media-body .media-heading {
    font-size: 11px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    line-height: 1em;
    margin-bottom: 11px;
}

.cart-section .dropdown-menu .media .media-body .item-price, .cart-section .dropdown-menu .media .media-body .item-price {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main {
    padding-top: 70px;
}

.main-menu {
    padding-left: 30px;
}

.cart-menu .nav {
    float: right;
}

.cart-menu .currency {
    padding: 10px 0px 10px 15px !important;
}

@media screen and (max-width: 350px) {
    .mobile-header .logo-section {
        padding: 10px 0px !important;
    }

    .main-menu {
        padding-left: 0;
    }

    .mobile-header .currency-section {
        display: none !important;
    }

    .mobile-header .toggler-section {
        display: block !important;
    }
}

@media screen and (max-width: 1199px) {
    .mobile-header .currency-section {
        display: none !important;
    }

    .main-menu {
        padding-left: 30px;
    }

    .brand-menu {
        width: 10%;
    }

    .main-menu {
        width: 80%;
    }

    .cart-menu {
        width: 10%;
    }

    li.gender {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    li.gender {
        display: none;
    }

    .brand-menu {
        width: 80%;
    }

    .main-menu {
        padding-left: 0;
        display: none;
    }

    .cart-menu {
        width: 20%;
    }

    .mobile-header .toggler-section {
        display: block !important;
    }

    .title-section span:before,
    .title-section span:after {
        content: "";
        position: absolute;
        height: 22px;
        border-bottom: 1px solid #D5D3DC;
        top: -14px;
        width: 0 !important;
    }
}

.mobile-header .header-navigation {
    padding: 22px 5px 0px;
}

.mobile-header .header-navigation {
    font-size: 12px !important;
}

.mobile-header .toggler-section {
    padding: 6px 0;
    display: none;
}

.ecommerce .header-navigation > ul > li > a {
    padding: 0px 5px 0px !important;
    color: #fff;
}

.header-navigation a:hover {
    color: #fff;
}

.menu-toggler {
    color: #fff;
}

.mobile-header .logo-section {
    padding: 13px 0px;
}

.mobile-header .currency {
    font-size: 12px;
}

.mobile-header .currency-section {
    padding: 10px 0;
}

.logo-section img {
    height: 16px;
}

.mobile-header .cart-section {
    float: right;
    padding: 6px 0;
}

.cart-section .cart-info {
    color: #fff;
}

.mobile-header a {
    background-color: transparent !important;
    color: #fff;
}

.cart-info .cart-count {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    position: absolute;
    top: 12px;
    right: 3px;
    z-index: 5;
    text-align: center;
    line-height: 15px;
    font-size: .5em;
    color: #FFF;
    border-radius: 8px !important;
    background-color: #006FBB;
    width: 15px;
    height: 15px;
    font-weight: bold;
    display: block;
    opacity: .9;
}

.slide-menu {
    font: 17px "Open Sans", sans-serif;
    letter-spacing: 1px;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    width: 300px;
    height: 100%;
    background: #FFF;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    font-size: 14px;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    -o-transform: translateX(-300px);
    transform: translateX(-300px);

    -moz-transform: translate3d(-300px, 0, 0);
    -ms-transform: translate3d(-300px, 0, 0);
    -o-transform: translate3d(-300px, 0, 0);
    -webkit-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-300px, 0, 0);
}

.slide-menu .slide-menu-header {
    line-height: 0;
    overflow: hidden;
    clear: both;
}

.slide-menu .close-btn {
    float: right;
    width: 25px;
    height: 25px;
    text-indent: -9999px;
    position: relative;
    margin-top: 16px;
    margin-right: 24px;
    opacity: .5;
}

.slide-menu-header .close-btn::after {
    transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.slide-menu-header .close-btn::before, .slide-menu-header .close-btn::after {
    width: 1px;
    height: 18px;
    background: #000;
    position: absolute;
    top: 4px;
    left: 5px;
    content: '';
    margin-left: 7px;
}

.slide-menu-header .close-btn::before {
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.slide-menu-header .logo {
    height: 20px;
    margin: 21px 30px;
    float: left;
}

.slide-menu-content .nav {
    margin: -10px 0;
}

.slide-menu-content li.first {
    border-top: 1px solid #eee;
}

.slide-menu-content li {
    border-bottom: 1px solid #eee;
}

.slide-menu-content li.currency-menu {
    border-bottom: 0;
}

li.currency-menu .currency-section {
    border: 0;
    width: 49%;
}

li.currency-menu .nav {
    margin: 0;
    border-bottom: 1px solid #eee;
}

li.currency-menu .active > a {
    background-color: #222;
    color: #fff !important;
}

li.currency-menu .currency-section:first-of-type {
    border-right: 1px solid #eee;
}

.slide-menu .nav-pills a, .slide-menu .nav-list a {
    padding: 0 10px;
    background: transparent;
    color: #555;
}

.slide-menu-content .nav a {
    padding: 10px 0 10px 30px;
    font-weight: 700;
    color: #333;
}

.slide-menu hr {
    margin: 0;
    border: 0;
    border-top: 1px solid #eeeeee;
}

.open-slide-menu {
    overflow: hidden;
}

body {
    overflow: initial;
}

body, .slide-menu {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.open-slide-menu body {
    -moz-transform: translate3d(300px, 0, 0);
    -ms-transform: translate3d(300px, 0, 0);
    -o-transform: translate3d(300px, 0, 0);
    -webkit-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
}

#body-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    content: ' ';
    display: none;
    z-index: 1000;
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.open-slide-menu #body-overlay {
    opacity: .3;
}

.top-cart-block .fa-shopping-cart {
    background: rgba(21, 21, 21, 1);
}

.top-cart-block .cart-info .cart-count {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    position: absolute;
    top: -8px;
    right: 0px;
    left: -8px;
    z-index: 5;
    text-align: center;
    line-height: 15px;
    font-size: 11px;
    color: #FFF;
    border-radius: 8px !important;
    background-color: #006FBB;
    width: 15px;
    height: 15px;
    font-weight: bold;
    display: block;
    opacity: .9;
}

.top-cart-content-wrapper {
    position: absolute;
    right: -2px;
    top: 25px;
    z-index: 99999;
}

.cart-section .dropdown-menu .checkout-now:hover, .cart-section .checkout-now:hover {
    background-color: rgba(21, 21, 21, 1) !important;
    color: #fff;
}

.cart-section .cart-item {
    padding: 10px;
}

.cart-section .cart-media {
    padding-right: 0;
}

.cart-media:hover {
    opacity: .85;
}

.delete-button {
    color: rgba(21, 21, 21, 1) !important;
    padding: 0 !important;
}

.delete-button i {
    font-size: 1.5em;
}

.header-fixed .mobile-header {
    background: rgba(21, 21, 21, .85);
}

.header-fixed .mobile-header .logo-section {
    padding: 5px 0;
}

.header-fixed .mobile-header .toggler-section {
    padding: 0;
}

.header-fixed .mobile-header .header-navigation {
    padding: 17px 5px 0px;
}

.header-fixed .mobile-header .currency-section {
    padding: 6px 0;
}

.header-fixed .mobile-header .cart-section {
    padding: 0;
}
