/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v7-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat-Regular'),
    url('../fonts/montserrat-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/montserrat-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/montserrat-v7-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/montserrat-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/montserrat-v7-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v7-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Montserrat-Bold'),
    url('../fonts/montserrat-v7-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/montserrat-v7-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/montserrat-v7-latin-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/montserrat-v7-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/montserrat-v7-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* arimo-regular - latin */
@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/arimo-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Arimo'),
    url('../fonts/arimo-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/arimo-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/arimo-v9-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/arimo-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/arimo-v9-latin-regular.svg#Arimo') format('svg'); /* Legacy iOS */
}

/* merriweather-regular - latin */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/merriweather-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Merriweather'), local('Merriweather-Regular'),
    url('../fonts/merriweather-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/merriweather-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/merriweather-v13-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/merriweather-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/merriweather-v13-latin-regular.svg#Merriweather') format('svg'); /* Legacy iOS */
}

/* merriweather-italic - latin */
@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/merriweather-v13-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Merriweather Italic'), local('Merriweather-Italic'),
    url('../fonts/merriweather-v13-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/merriweather-v13-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/merriweather-v13-latin-italic.woff') format('woff'), /* Modern Browsers */ url('../fonts/merriweather-v13-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/merriweather-v13-latin-italic.svg#Merriweather') format('svg'); /* Legacy iOS */
}

/* open-sans-300 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/open-sans-v13-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Light'), local('OpenSans-Light'),
    url('../fonts/open-sans-v13-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/open-sans-v13-latin-300.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v13-latin-300.woff') format('woff'), /* Modern Browsers */ url('../fonts/open-sans-v13-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/open-sans-v13-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-300italic - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/open-sans-v13-latin-300italic.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'),
    url('../fonts/open-sans-v13-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/open-sans-v13-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v13-latin-300italic.woff') format('woff'), /* Modern Browsers */ url('../fonts/open-sans-v13-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/open-sans-v13-latin-300italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans'), local('OpenSans'),
    url('../fonts/open-sans-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/open-sans-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v13-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/open-sans-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/open-sans-v13-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-italic - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/open-sans-v13-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
    url('../fonts/open-sans-v13-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/open-sans-v13-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v13-latin-italic.woff') format('woff'), /* Modern Browsers */ url('../fonts/open-sans-v13-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/open-sans-v13-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-600 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v13-latin-600.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
    url('../fonts/open-sans-v13-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/open-sans-v13-latin-600.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v13-latin-600.woff') format('woff'), /* Modern Browsers */ url('../fonts/open-sans-v13-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/open-sans-v13-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-600italic - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/open-sans-v13-latin-600italic.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'),
    url('../fonts/open-sans-v13-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/open-sans-v13-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v13-latin-600italic.woff') format('woff'), /* Modern Browsers */ url('../fonts/open-sans-v13-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/open-sans-v13-latin-600italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v13-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('../fonts/open-sans-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/open-sans-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v13-latin-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/open-sans-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/open-sans-v13-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700italic - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/open-sans-v13-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
    url('../fonts/open-sans-v13-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/open-sans-v13-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v13-latin-700italic.woff') format('woff'), /* Modern Browsers */ url('../fonts/open-sans-v13-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/open-sans-v13-latin-700italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v15-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Roboto Light'), local('Roboto-Light'),
    url('../fonts/roboto-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/roboto-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v15-latin-300.woff') format('woff'), /* Modern Browsers */ url('../fonts/roboto-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/roboto-v15-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-300italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/roboto-v15-latin-300italic.eot'); /* IE9 Compat Modes */
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
    url('../fonts/roboto-v15-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/roboto-v15-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v15-latin-300italic.woff') format('woff'), /* Modern Browsers */ url('../fonts/roboto-v15-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/roboto-v15-latin-300italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/roboto-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v15-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/roboto-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/roboto-v15-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/roboto-v15-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Roboto Italic'), local('Roboto-Italic'),
    url('../fonts/roboto-v15-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/roboto-v15-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v15-latin-italic.woff') format('woff'), /* Modern Browsers */ url('../fonts/roboto-v15-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/roboto-v15-latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v15-latin-500.eot'); /* IE9 Compat Modes */
    src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../fonts/roboto-v15-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/roboto-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v15-latin-500.woff') format('woff'), /* Modern Browsers */ url('../fonts/roboto-v15-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/roboto-v15-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v15-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../fonts/roboto-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/roboto-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v15-latin-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/roboto-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/roboto-v15-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Lato Regular'), local('Lato-Regular'),
    url('../fonts/lato-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/lato-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/lato-v11-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/lato-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/lato-v11-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v11-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Lato Bold'), local('Lato-Bold'),
    url('../fonts/lato-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/lato-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/lato-v11-latin-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/lato-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/lato-v11-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}

/* libre-baskerville-regular - latin */
@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/libre-baskerville-v4-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Libre Baskerville'), local('LibreBaskerville-Regular'),
    url('../fonts/libre-baskerville-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/libre-baskerville-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/libre-baskerville-v4-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/libre-baskerville-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/libre-baskerville-v4-latin-regular.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}