.pre-footer {
    background: #222;
    color: #eaeaea;
}

.top-cart-content em {
    overflow: visible;
}

.footer {
    background: #0d0d0d;
    color: #eaeaea;
}

.footer .padding-top-10 {
    opacity: 1;
}

.pre-footer h2, .ecommerce .pre-footer h2 {
    color: #eaeaea;
}

.brand-banner {
    margin-bottom: 30px;
}

.brand-banner .image {
    position: relative;
    overflow: hidden;
}

.brand-banner .image img {
    width: 100%;
}

.brand-banner .image > * {
}

.brand-banner .description {
    background-color: #D5D3DC;
    padding: 26px 30px 26px 270px;
    min-height: 130px;
}

.brand-banner .description .name {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 10px;
    letter-spacing: 1px;
    color: #333333;
}

.brand-banner .description p {
    margin: 0;
    font-size: 13px;
    color: #333;
    word-wrap: break-word;
}

.brand-banner .logo {
    position: absolute;
    bottom: 26px;
    left: 45px;
    z-index: 2;
}

.brand-banner .logo img {
    width: 206px;
}

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table;
}

img {
    vertical-align: middle;
    border: 0;
}

.site-logo img {
    width: 280px;
}

.reduce-header img.main-brand {
    width: 200px;
}

.brand-logo {
    border-radius: 5px !important;
    margin-bottom: 15px;
}

.btn-circle {
    border-radius: 25px !important
}

.btn-white {
    background-color: #F9F9F9 !important;
    border-color: #ccc;
}

.newsletter {
    background-color: #DCDCDC;
}

.form-newsletter {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sosmed {
    padding-top: 20px;
}

.btn-black {
    background-color: #313030 !important;
    color: #DCDCDC !important;
}

.no-padding-right {
    padding-right: 0;
}

.padding-2p {
    padding-right: 2px;
}

.border-black {
    border-color: #313030 !important;
}

.no-padding-left {
    padding-left: 0;
}

.page-title {
    padding: 50px 0;
    background-color: #F5F5F5;
    border-bottom: 1px solid #EEE;
}

.product {
    float: left;
    margin: 0 20px 20px 0;
    width: 270px;
}

.product, .product-image {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.product-image img, .product-image > a {
    display: block;
    width: 100%;
    height: auto;
}

.product-image > a:nth-of-type(2) {
    opacity: 0;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.sale-flash {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 6px 10px;
    background-color: #313030;
    border-radius: 2px;
    z-index: 5;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    color: #F9F9F9;
}

.product-image:hover > a:nth-of-type(2) {
    opacity: 1;
    z-index: 2;
}

.product-desc {
    padding: 15px 0;
    font-size: 14px;
}

.product-desc .product-title {
}

.product-desc .product-brand {
    margin-bottom: 3px;
}

.product-brand h3 {
    font: 500 11px 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.product-title h3 {
    font: 500 16px 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.product-title h3 a, .single-product .product-title h2 a {
    color: #333;
}

.product-price {
    font-weight: 500;
    color: #444;
    margin-bottom: 4px;
    font: 15px 'Roboto', sans-serif;
}

.product-price del {
    font-weight: 400;
    font-size: 90%;
    color: #888;
}

.product-price ins {
    text-decoration: none;
    color: #336E7B;
}

.single-product .product {
    width: 100%;
    margin: 0;
}

.single-product .product-image {
    height: auto;
}

.single-product .product-desc {
    padding: 0;
}

.single-product .product-price {
    float: left;
    font-size: 24px;
    margin-bottom: 0;
}

.single-product .product-desc .product-title h3 {
    font-size: 30px;
    color: #3f444a;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
}

.clear {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 100%;
    overflow: hidden
}

.single-product .line {
    margin: 10px 0;
}

.line {
    clear: both;
    width: 100%;
    margin: 20px 0;
    border-top: 1px solid #EEE;
}

#gallery {
    margin-bottom: 30px;
}

#gallery .slider-nav {
    float: left;
    overflow: hidden;
    padding: 0 10px 0 15px;
    position: relative;
    width: 19.592%;
    height: auto;
}

#gallery .slider-nav .nav-btn.prev {
    top: 0;
    display: none;
}

#gallery .slider-nav .nav-btn.next {
    bottom: 0;
    display: none;
}

#gallery .slider-nav img {
    width: 100%;
    opacity: .80;
    transition: opacity .3s;
    -webkit-transition: opacity .3s;
}

#gallery .holder {
    text-align: center;
    line-height: 0;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: auto;
    padding: 0 15px 0 10px;
    margin: 0 0 60px;
    cursor: pointer;
}

#product-summary {
    margin-bottom: 30px;
}

#product-summary .brand {
    font-size: 25px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    margin: 0 0 11px 0;
    line-height: 1em;
}

#product-summary .name {
    margin: 0;
    font-size: 25px;
    font-weight: 500;
    color: #333;
    line-height: 1.1;
    letter-spacing: 1px;
}

.tab-content {
    background: none;
    padding: 0;
}

#product-summary .info {
    margin: 24px 0 19px;
    color: #777777;
}

#product-summary .info .price {
    font-size: 24px;
    color: #333;
}

#product-summary .product-form {
    margin: 13px 0 26px;
}

#product-summary .product-form label {
    font-weight: normal;
    color: #333;
    font-size: 13px;
    margin-bottom: 14px;
    display: block;
}

#product-summary .product-form .color {
    margin-bottom: 25px;
}

#product-summary .product-form label {
    font-weight: normal;
    color: #333;
    font-size: 13px;
    margin-bottom: 14px;
    display: block;
}

.holder-image {
    position: relative;
    overflow: hidden;
}

.holder-image .sale-flash {
    position: absolute;
    top: 10px;
    left: 33px;
    padding: 6px 10px;
    background-color: #313030;
    border-radius: 2px;
    z-index: 5;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    color: #F9F9F9;
}

#product-summary .info .price .sale-price {
    font-size: 20px;
    color: #9d261d;
    font-weight: bold;
}

#product-summary .info .price.on-sale .regular-price {
    font-weight: normal;
    font-size: 16px;
    color: #777777;
    text-decoration: line-through;
}

#product-summary .tab-panel {
    margin-top: 20px;
}

#product-summary .tab-panel .nav-tab {
    margin-bottom: 13px;
    border-bottom: solid 1px #EEE;
}

#product-summary .tab-panel .nav-tab li.active {
    border-color: #EEE;
    border-bottom-color: #FFF;
}

#product-summary .tab-panel .nav-tab li a {
    line-height: 1em;
    padding: 10px 0 12px;
    font-weight: 600;
    color: #333;
    font-size: 13px;
    cursor: pointer;
    background-color: transparent;
}

#product-summary #description {
    font: 400 13px 'Roboto', sans-serif;
    line-height: 1.3;
    word-wrap: break-word;
}

[v-cloak] {
    display: none;
}
