<template>
    <div class="block-floor-products block-floor-products-opt6 block-floor-1 ">
        <div class="container">
            <div class="block-title color-1">
                <span class="title">{{ blockName }}</span>
            </div>

            <div class="block-content">

                <div class="col-banner">
                    <a href="" class="img">
                        <img v-lazy="'/images/catalog/'blockImage" alt="{{ blockName}}">
                    </a>
                    <div class="description">
                        <strong class="title">{{ blockTitle }}</strong>
                        <div class="des">{{ blockDesc}}</div>
                        <a href="" class="btn btn-default">shop now</a>
                    </div>
                </div>

                <div class="col-products ">
                    <div class="clearfix">
                        <div class="product-item product-item-opt-4" v-for="product in blockProducts[0]">
                            <div class="product-item-info">
                                <div class="product-item-photo">
                                    <a class="product-item-img" href=""><img alt="{{ product.title }}"
                                                                             v-lazy="'/images/catalog/'+product.images[0]"></a>
                                    <div class="product-item-actions">
                                        <button type="button" class="btn btn-cart">
                                            <span>Add to Cart</span>
                                        </button>
                                        <a class="btn btn-wishlist" href=""><span>wishlist</span></a>
                                        <a class="btn btn-compare" href=""><span>compare</span></a>

                                    </div>
                                    <a class="btn btn-quickview" href=""><span>quickview</span></a>
                                </div>
                                <div class="product-item-detail">
                                    <strong class="product-item-name"><a href="">{{ product.title }}</a></strong>
                                    <div class="product-item-price">
                                        <span class="price">IDR {{ product.price }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix">
                        <div class="product-item product-item-opt-4"
                             v-for="product in blockProducts[1]">
                            <div class="product-item-info">
                                <div class="product-item-photo">
                                    <a class="product-item-img" href=""><img alt="{{ product.title }}"
                                                                             v-lazy="'/images/catalog/'+product.images[0]"></a>
                                    <div class="product-item-actions">
                                        <button type="button" class="btn btn-cart">
                                            <span>Add to Cart</span>
                                        </button>
                                        <a class="btn btn-wishlist" href=""><span>wishlist</span></a>
                                        <a class="btn btn-compare" href=""><span>compare</span></a>

                                    </div>
                                    <a class="btn btn-quickview" href=""><span>quickview</span></a>
                                </div>
                                <div class="product-item-detail">
                                    <strong class="product-item-name"><a href="">{{ product.title }}</a></strong>
                                    <div class="product-item-price">
                                        <span class="price">IDR {{ product.price }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="block-footer">
                <div class="heading">
                    <span class="title">New Arrival</span>
                    <ul>
                        <li role="presentation" :class="{ active: activeIndex === idx}" @click="activeIndex = idx"
                            v-for="(item, idx) in blockSubs">
                            <a href="#">{{ item.name }}</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <!-- tab content 1 -->
                    <div class="tab-panel fade" :class="{active: activeIndex === idx}" v-for="(item, idx) in blockSubs"
                         role="tabpanel">
                        <swiper :options="swiperOption">
                            <swiper-slide v-for="product in item.products">
                                <div class=" product-item product-item-opt-4">
                                    <div class="product-item-info">
                                        <div class="product-item-photo">
                                            <a class="product-item-img" href="">
                                                <img alt="product name"
                                                     v-lazy="'/images/catalog/'+product.images[0].name">
                                            </a>
                                        </div>
                                        <div class="product-item-detail">
                                            <strong class="product-item-name">
                                                <a href="">{{ product.title }} </a></strong>
                                            <div class="product-item-price">
                                                <span class="price">IDR {{ product.price }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </swiper-slide>
                            <div class="swiper-pagination" slot="pagination"></div>
                        </swiper>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    import {swiper, swiperSlide} from 'vue-awesome-swiper';

    export default {
        components: {
            swiper,
            swiperSlide
        },
        data() {
            return {
                swiperOption: {
                    pagination: '.swiper-pagination',
                    paginationClickable: true,
                    slidesPerView: 5,
                    spaceBetween: 50,
                    breakpoints: {
                        1024: {
                            slidesPerView: 4,
                            spaceBetween: 40
                        },
                        768: {
                            slidesPerView: 4,
                            spaceBetween: 30
                        },
                        640: {
                            slidesPerView: 2,
                            spaceBetween: 20
                        },
                        320: {
                            slidesPerView: 1,
                            spaceBetween: 10
                        }
                    }
                }
            }
        },
        props: ['blockName', 'blockProducts', 'blockTitle', 'blockDesc', 'blockSubs']

    }
</script>