<template>
    <div class="block-minicart dropdown">
        <a href="#" role="button" data-toggle="dropdown" class="dropdown-toggle">
            <span class="cart-icon"></span>
            <span class="counter qty">
                            <span class="cart-text">Keranjang</span>
                            <span class="counter-number">{{ cartQty }}</span>
                            <span class="counter-label">{{ cartQty }} <span>Item(s)</span></span>
                            <span class="counter-price">IDR {{ cartAmount }}</span>
            </span>
        </a>
        <div class="dropdown-menu">
            <form action="">
                <div class="minicart-content-wrapper">
                    <ol class="minicart-items">
                        <li v-for="item in items" class="product-item">
                            <a :href="'/products/'+item.options.slug" class="product-item-photo" title="Product Name">
                                <img v-lazy="'/images/catalog/'+item.options.image"
                                     alt="Product Name">
                            </a>
                            <div class="product-item-details">
                                <strong class="product-item-name">
                                    <a href="'/products/'+item.options.slug">{{ item.name }}</a>
                                </strong>
                                <div class="product-item-qty">
                                    <span class="label">Quantity:</span>
                                    <span class="number">{{ item.qty}}</span>
                                </div>
                                <div class="product-item-price">
                                    <span class="price">IDR {{ item.price }}</span>
                                </div>
                                <div class="product-item-actions">
                                    <a href="#" @click="delItem(item)" class="action delete" title="Remove Item">
                                        <span>Remove</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
                <div class="subtotal">
                    <span class="label">Total</span>
                    <span class="price">IDR {{ cartAmount }}</span>
                </div>
                <div class="actions">
                    <a href="#" class="btn btn-viewcart">
                        <span>Shopping bag</span>
                    </a>
                    <button class="btn btn-checkout" type="button" title="Checkout">
                        <span>Check out</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>


<script type="text/babel">
    export default {
        props: ['items'],
        computed: {
            cartAmount: function () {
                return this.items.reduce(function (prev, next) {
                    return prev.price + next.price
                }, 0);
            },
            cartQty: function () {
                return this.items.length
            }
        },
        methods: {
            delItem: function (item) {
                this.$emit('delitem', item);
            }
        }
    };
</script>